#lbl {
    -fx-border-style: solid  solid  solid  solid;
    -fx-border-color: #bababa #bababa #bababa #bababa;
    -fx-border-width: 1;
    -fx-border-radius:3px;
    -fx-background-color: white;
    -fx-padding: 0 0 0 5;
   }


#scene {
     -fx-background-color: #d3defd;
}




